@use '../mixins/common';

.MessageTextItem {
  display: grid;
  grid-template-columns: auto 12px auto 1fr;
  grid-template-rows: auto auto 4px auto;
  margin: 0 28px;
  padding: 10px 0;
  box-sizing: border-box;

  .MessageTextItem__senderName {
    grid-area: 1 / 3 / 2 / 4;

    margin-bottom: 4px;
  }

  .MessageTextItem__avatar {
    grid-area: 1 / 1 / 5 / 2;

    @include common.circle(24px);
    align-self: start;

    cursor: pointer;
  }

  .MessageTextItem__messageArea {
    grid-area: 2 / 3 / 3 / 4;

    border-radius: 4px 16px 16px 16px;
    border: var(--default-border);
    background-color: var(--background-color);
    color: var(--fore-primary-color);
    padding: 12px;

    font-size: 12px;
    line-height: 18px;

    &.highlight {
      color: var(--fore-on-primary-primary-color);
      background-color: var(--primary-color);
    }

    .MessageTextItem__messageContent {
      .MessageTextItem__msgSegment {
        user-select: text;
        max-width: 100%;

        &.msgText {
          white-space: pre-line;
        }

        &.msgAt {
          display: inline-flex;
          height: 16px;
          align-items: center;
          color: white;
          background-color: var(--secondary-color);
          border-radius: 8px;
          padding: 0 8px;
          margin: 0 4px;
          user-select: all;
          cursor: pointer;
        }

        &.msgImage {
          &.canBrowse {
            cursor: pointer;
          }

          &.likeText {
            vertical-align: text-bottom;
          }
        }
      }
    }
  }

  .MessageTextItem__timestamp {
    grid-area: 4 / 3 / 5 / 4;

    font-size: 10px;
    color: var(--fore-secondary-color);
  }
}
