.ChatWidget {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  .ChatWidget__inputBox {
    display: grid;

    height: 72px;
    padding: 0 20px;
    border-top: var(--default-border);
  }
}
