.ChatTabContent {
  display: grid;
  grid-template-columns: 256px 8px 1fr;
  height: 100%;

  .ChatTabContent__sessionListArea {
    grid-column: 1 / 2;
  }

  .ChatTabContent__chatArea {
    grid-column: 3 / 4;
  }
}
