@use '../mixins/common';

.GroupMemberItem {
  display: grid;
  grid-template-columns: auto 16px 1fr;
  height: 20px;
  margin: 4px 20px;
  padding: 4px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: var(--background-color);
  }

  .GroupMemberItem__avatar {
    grid-column: 1 / 2;

    width: 20px;
    height: 20px;
    border-radius: 4px;
  }

  .GroupMemberItem__name {
    grid-column: 3 / 4;

    color: var(--fore-primary-color);
    font-size: 12px;
  }
}
