@use '../mixins/common';

.TabHeaderListWidget {
  display: grid;
  grid-template-rows: auto 1fr auto;

  width: 72px;
  height: 100%;
  border-radius: 10px;
  border: var(--default-border);
  background-color: var(--surface-color);

  .TabHeaderListWidget__tabHeaderContainer {
    &.top {
      grid-row: 1 / 2;
    }

    &.bottom {
      grid-row: 3 / 4;
    }

    display: flex;
    flex-direction: column;
    margin: 20px 0;
    @include common.gap(40px, 0);
  }

  .TabHeaderListWidget__tabHeaderContainer.bottom {
    justify-items: center;
    align-items: center;
  }

  .TabHeaderItem {
    display: grid;
    grid-template-columns: 4px 1fr;
    grid-template-rows: auto 8px auto;
    justify-items: center;
    cursor: pointer;

    .TabHeaderItem__decorativeElement {
      grid-area: 1 / 1 / 4 / 2;

      display: none;

      background-color: var(--primary-color);
      width: 4px;
    }

    .TabHeaderItem__icon {
      grid-area: 1 / 1 / 2 / 3;

      color: var(--fore-primary-color);
      fill: var(--fore-primary-color);
      width: 24px;
      height: 24px;
    }

    .TabHeaderItem__title {
      grid-area: 3 / 1 / 4 / 3;

      color: var(--fore-primary-color);
      font-size: 10px;
    }

    &.selected,
    &:hover {
      .TabHeaderItem__decorativeElement {
        display: inline-block;
      }

      .TabHeaderItem__icon {
        color: var(--primary-color);
        fill: var(--primary-color);
      }

      .TabHeaderItem__title {
        color: var(--primary-color);
      }
    }
  }
}
