.MessageListWidget {
  position: relative;
  height: 100%;

  .MessageListWidget__messageList {
    .MessageListWidget__prevMore,
    .MessageListWidget__nextMore {
      height: 16px;
      width: 100%;
    }
  }

  .MessageListWidget__gotoBottom {
    display: flex;
    visibility: hidden;
    position: absolute;
    right: 24px;
    bottom: 16px;
    z-index: 1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    justify-self: flex-end;

    &.active {
      visibility: visible;
    }
  }
}
