@use '../mixins/input';

.SearchBox {
  display: grid;
  grid-template-columns: auto 1fr;

  border-radius: 4px;
  border: var(--default-border);
  background-color: var(--surface-color);
  margin-right: 12px;
  margin-bottom: 32px;

  .SearchBox__icon {
    justify-self: center;
    align-self: center;
    margin-left: 12px;

    color: var(--fore-primary-color);
    fill: var(--fore-primary-color);
  }

  .SearchBox__input {
    @include input.non-style-input();
  }
}
