@use '../mixins/input';

.SearchBox {
  display: grid;
  grid-template-columns: auto 1fr;

  background-color: #191e3c;
  border-radius: 4px;
  margin-right: 12px;
  margin-bottom: 32px;

  .SearchBox__icon {
    justify-self: center;
    align-self: center;
    margin-left: 12px;
  }

  .SearchBox__input {
    @include input.non-style-input();
  }
}
