@use '../mixins/common';
@use '../mixins/button';

.SessionItem {
  display: grid;
  grid-template-rows: auto 8px auto 16px auto;
  grid-template-columns: 4px 8px auto 16px 1fr;
  border-radius: 8px;
  border: var(--default-border);
  background-color: var(--surface-color);
  padding: 8px 12px;
  margin: 8px 0;
  margin-right: 12px;
  min-width: 200px;
  height: 74px;
  cursor: pointer;

  &.selected {
    background-color: var(--primary-color);

    .SessionItem__title {
      color: var(--fore-on-primary-title-color);
    }

    .SessionItem__subtitle {
      color: var(--fore-on-primary-subtle-color);
    }

    .SessionItem__message {
      color: var(--fore-on-primary-secondary-color);
    }
  }

  &.hasMessage .SessionItem__redDot {
    display: inline-block;
  }

  .SessionItem__redDot {
    grid-area: 2 / 1 / 3 / 2;

    display: none;
    @include common.circle(4px);
    background-color: var(--secondary-color);
  }

  .SessionItem__avatar {
    grid-area: 1 / 3 / 4 / 4;

    @include common.circle(32px);
    align-self: center;
  }

  .SessionItem__title {
    grid-area: 1 / 5 / 2 / 6;

    color: var(--fore-primary-color);
    font-size: 12px;
    align-self: center;
  }

  .SessionItem__btnClose {
    $btnSize: 12px;

    grid-area: 1 / 5 / 2 / 6;

    @include button.non-style-button();
    width: $btnSize;
    height: $btnSize;
    align-self: center;
    justify-self: end;
    display: none;

    .SessionItem__iconClose {
      fill: var(--fore-primary-color);
      width: $btnSize;
      height: $btnSize;

      &:hover {
        fill: var(--fore-secondary-color);
      }
    }
  }

  &:hover .SessionItem__btnClose {
    display: flex;
  }

  .SessionItem__subtitle {
    grid-area: 3 / 5 / 4 / 6;

    color: var(--fore-subtle-color);
    font-size: 10px;
    align-self: center;
  }

  .SessionItem__message {
    grid-area: 5 / 3 / 6 / 6;

    color: var(--fore-secondary-color);
    font-size: 10px;
  }
}
