@use '../mixins/common';
@use '../mixins/input';

.SettingsDialog {
  display: flex;
  flex-direction: column;
  @include common.gap(32px, 0);

  padding: 0 20px;
  margin-bottom: 20px;

  .SettingItem {
    display: grid;
    grid-template-columns: auto 16px 200px;
    align-items: center;

    .SettingItem__text {
      color: var(--fore-title-color);
      font-size: 14px;
    }

    .SettingItem__editor {
      grid-column: 3 / 4;

      display: grid;

      .SettingsDialog__input {
        @include input.non-style-input();

        height: 28px;
        border-radius: 4px;
        padding: 0 16px;
        border: var(--default-border);
      }
    }
  }
}
