.window-content {
  display: grid;
  grid-template-columns: auto 28px 1fr;
  margin: 16px;

  .main-window-tab-header-panel {
    grid-column: 1 / 2;
  }

  .main-window-tab-content {
    grid-column: 3 / 4;
  }
}
