.WindowView {
  display: grid;
  grid-template-columns: auto 28px 1fr;
  margin: 16px;

  .WindowView__tabHeaderPanel {
    grid-column: 1 / 2;
  }

  .WindowView__tabContent {
    grid-column: 3 / 4;
  }
}
