@use '../mixins/common';

.CircleButton {
  @include common.circle(32px);

  display: inline-flex;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  cursor: pointer;
  user-select: none;
  border-width: 0;

  &:focus {
    outline: none;
  }

  .CircleButton__icon {
    fill: var(--fore-secondary-color);
    align-self: center;
  }

  &:not([disabled]):hover {
    filter: brightness(120%);
  }

  &.primary {
    @include common.circle(40px);

    .CircleButton__icon {
      fill: var(--fore-on-primary-title-color);
    }

    background-color: var(--primary-color);

    &[disabled] {
      background-color: var(--border-color);

      .CircleButton__icon {
        fill: var(--fore-subtle-color);
      }
    }
  }

  &.secondary {
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
  }

  &.default {
    background-color: var(--surface-color);
  }
}
