@use '../mixins/list';

.InfiniteScrollingListBox {
  height: 100%;
  .InfiniteScrollingListBox__anchor {
    width: 100%;

    &.top {
      height: 64px;
    }

    &.bottom {
      height: 8px;
    }
  }

  .InfiniteScrollingListBox__list {
    @include list.non-style-list();
  }
}
