@use '../mixins/list';

.LazyLoadingListBox {
  height: 100%;
  .LazyLoadingListBox__anchor {
    width: 100%;

    &.top {
      height: 64px;
    }

    &.bottom {
      height: 8px;
    }
  }

  .LazyLoadingListBox__list {
    @include list.non-style-list();
  }
}
