@use '../mixins/common';

.ScrollViewer {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;

  width: 100%;
  height: 100%;

  &.inline .ScrollViewer__view {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &.overlay .ScrollViewer__view {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
  }

  > .ScrollViewer__view {
    // Ref: https://stackoverflow.com/a/38994837/9078911
    // Hidden original scroll bar element but don't disable them.
    // ie
    -ms-overflow-style: none;
    // Firefox
    scrollbar-width: none;
    &::-webkit-scrollbar {
      // Chrome and Safari
      display: none;
    }
    overflow: auto;

    position: relative;
    width: 100%;
    height: 100%;

    > .ScrollViewer__content {
      position: absolute;
      width: 100%;
    }
  }

  > .ScrollViewer__bar {
    position: relative;
    display: none;

    &.active {
      display: block;
    }

    .ScrollViewer__thumb {
      @include common.circle(4px);

      position: absolute;
      background-color: var(--scroll-thumb-color);
    }

    &.vertical {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-right: 4px;
      width: 4px;
    }

    &.horizontal {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      margin-bottom: 4px;
      height: 4px;
    }
  }
}
