@use '../mixins/list';

.VirtualizingListBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .VirtualizingListBox__list {
    @include list.non-style-list();
    position: relative;
    width: 100%;
    height: 100%;
  }

  .VirtualizingListBox__item {
    position: absolute;
    width: 100%;
  }
}
