@mixin non-style-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.virtualizing-list-box {
  @include non-style-list();

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .virtualizing-list-box-ul {
    @include non-style-list();
    position: relative;
    width: 100%;
    height: 100%;
  }

  .virtualizing-list-box-item {
    position: absolute;
    width: 100%;
  }
}
