@use '../../mixins/common';

.basic-message {
  display: grid;
  grid-template-columns: auto 12px auto 1fr;
  grid-template-rows: auto 4px auto;
  margin: 0 28px;
  padding: 10px 0;
  box-sizing: border-box;

  .avatar {
    grid-area: 1 / 1 / 2 / 2;

    @include common.circle(24px);
    align-self: start;
  }

  .message-box {
    grid-area: 1 / 3 / 2 / 4;

    border-radius: 4px 16px 16px 16px;
    background-color: #262b47;
    color: #c8cddf;
    padding: 12px;

    font-size: 12px;
    line-height: 18px;

    &.highlight {
      background-color: #3464ff;
    }

    .message-content {
      .msg-segment {
        user-select: text;

        &.msg-type-text {
          white-space: pre-line;
        }

        &.msg-type-face {
          width: 28px;
          height: 28px;
          vertical-align: text-bottom;
        }

        &.msg-type-at {
          color: white;
          background-color: #f65b9e;
          border-radius: 8px;
          padding: 0 4px;
          margin: 0 4px;
          user-select: all;
          cursor: pointer;
        }

        &.msg-type-image {
          max-width: 240px;
          max-height: 120px;
          cursor: pointer;
        }
      }
    }
  }

  .timestamp {
    grid-area: 3 / 3 / 4 / 4;

    font-size: 10px;
    color: #474c6b;
  }
}
