@use '../../mixins/common';

.BasicMessage {
  display: grid;
  grid-template-columns: auto 12px auto 1fr;
  grid-template-rows: auto 4px auto;
  margin: 0 28px;
  padding: 10px 0;
  box-sizing: border-box;

  .BasicMessage__avatar {
    grid-area: 1 / 1 / 2 / 2;

    @include common.circle(24px);
    align-self: start;
  }

  .BasicMessage__messageArea {
    grid-area: 1 / 3 / 2 / 4;

    border-radius: 4px 16px 16px 16px;
    border: var(--default-border);
    background-color: var(--background-color);
    color: var(--fore-primary-color);
    padding: 12px;

    font-size: 12px;
    line-height: 18px;

    &.highlight {
      color: var(--fore-on-primary-primary-color);
      background-color: var(--primary-color);
    }

    .BasicMessage__messageContent {
      .BasicMessage__msgSegment {
        user-select: text;

        &.msgText {
          white-space: pre-line;
        }

        &.msgFace {
          width: 28px;
          height: 28px;
          vertical-align: text-bottom;
        }

        &.msgAt {
          color: white;
          background-color: var(--secondary-color);
          border-radius: 8px;
          padding: 0 4px;
          margin: 0 4px;
          user-select: all;
          cursor: pointer;
        }

        &.msgImage {
          max-width: 240px;
          max-height: 120px;
          cursor: pointer;
        }
      }
    }
  }

  .BasicMessage__timestamp {
    grid-area: 3 / 3 / 4 / 4;

    font-size: 10px;
    color: var(--fore-secondary-color);
  }
}
