@use '../../mixins/input';
@use '../../mixins/common';

.MessageSendBox {
  display: grid;
  grid-template-columns: auto 16px 1fr 16px auto;
  align-items: center;

  .MessageSendBox__btnUpload {
    grid-column: 1 / 2;
  }

  .MessageSendBox__editArea {
    grid-column: 3 / 4;

    display: grid;
    grid-template-columns: 1fr 8px auto 8px auto 16px;
    align-items: center;

    .MessageSendBox__input {
      @include input.non-style-input();

      grid-column: 1 / 2;

      display: flex;
      position: relative;

      flex-direction: row;
      border-width: 0;
      outline: none;
      background-color: transparent;
    }

    .MessageSendBox__btnFace {
      grid-column: 3 / 4;
    }

    .MessageSendBox__btnMore {
      grid-column: 5 / 6;
    }
  }

  .MessageSendBox__splitLine.vertical {
    width: 1px;
    height: 30px;
    box-sizing: border-box;
    background-color: #252946;
  }

  .MessageSendBox__btnSend {
    grid-column: 5 / 6;
  }
}
