body.theme-dark {
  --background-color: #0b122f;
  --surface-color: #191e3c;

  --text-0-color: #e8ebf4;
  --text-1-color: #c2c5ce;
  --text-2-color: #6f717e;
  --text-on-primary-0-color: #e8ebf4;
  --text-on-primary-1-color: #c8cbd6;
  --text-on-primary-2-color: #c1c4d3;

  --border-color: #292f50;
  --default-border: 1px solid var(--border-color);

  --scroll-thumb-color: #292f50;
}
