:root {
  --error-color: #f56c6c;
  --accent-light-color: #67b0ff;
  --accent-color: #419cff;
  --accent-dark-color: #347ccc;

  --background-color: #fff;
  --title-color: #343434;
  --text-primary-color: #5e5e5e;
  --text-secondary-color: #9f9f9f;
  --border-color: #dcdcdc;

  --tab-header-selected-color: #ecf6ff;
  --scroll-thumb-color:#272c55;
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}
