@mixin non-style-input {
  outline: none;
  border-width: 0;
  height: 38px;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  background: transparent;
  margin: 0 16px;
  color: var(--fore-primary-color);
  cursor: text;

  &::placeholder {
    color: var(--fore-subtle-color);
  }
}
